footer {
    background-color: #031100;
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2ss;
 
  }
  
  footer a:hover {
    color: darkgreen;
    text-decoration: none;
   
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  

  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.fb:hover {
    background-color: #3B5998;
  }
  
  .social-network a.linkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.fb:hover i,
  .social-network a.linkedin:hover i,
  .social-network a.yt:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  .social-network a.yt:hover{
      background-color: red;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  .overlay{
    background-image:
    linear-gradient(to bottom,  rgba(0, 0, 0, 0.856),rgba(38, 46, 27, 0.815)),
    url('../image/main.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
  
 
  }
  .stray-donation{
    background-image: 
    url('../image/stray1.jpg');
  width: 100%;
  height: 80%;

  }
  .ourwork{
    background-image: url('../image/log.png');
  }
  .overlay  ,.stray-donation, .ourwork{
    position: relative;

background-repeat: no-repeat;

background-size: cover;
min-height: 100%;
 background-attachment: fixed;
  }
  .text-sec{
    color:white;
    padding:80px;
  }
  .textquot{
    color:whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-left: 30px;
    padding-right: 30;
  }
  .subt{
    font-family: 'Julius Sans One';
     font-size:50px; 
    color:white;
 
     text-align:center;
  }
  .volunteer{
    background-image: url('../image/volunteer.jpg');
  }
  .donate{
    background-image:url('../image/don.jpg') ;
    height: 100%;
    width: 100%;
  }
  .signup{
      background-image: url('../image/signup.jpg');
  }
  .volunteer,.donate,.signup{
    height:300px;
    width: 900%;
   padding-top: 200px;
    color: whitesmoke;
    font-family: 'Cinzel';
    font-size: 30px;
   
   
  }
  .overl{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background:rgba(0,0,0,0.8);
  }
  .volunteer:hover .overl,.donate:hover .overl,.signup:hover .overl {
    opacity: 1.0;

  }
  .otext{
    color:white;
    font-size: large;
    padding:15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .card-img-top{
  
    height:200px
  }
  .cardback{
      color: white;
      background-image: 
      linear-gradient(to bottom,  rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.85)),url('../image/logopic.jpg');
      background-repeat: no-repeat;
      background-size:cover ;
  }






  /*grid item*/
#section-story .story-column
{
  float:left;
  width:33.33%
}
#section-story .story-column.left .post, #section-story .story-column.right .post {
height: 400px;
}
#section-story .story-column.left .post:nth-child(1), #section-story .story-column.right .post:nth-child(1) {
-moz-border-radius: 3px 3px 0 0;
-webkit-border-radius: 3px;
border-radius: 3px 3px 0 0;
}
#section-atory .story-column.left .post:nth-child(3) {
-moz-border-radius: 0 0 0 3px;
-webkit-border-radius: 0;
border-radius: 0 0 0 3px;
}
#section-story .story-column.middle {
padding-top: 110px;
}
#section-story .story-column.middle .post {
height: 290px;
}
#section-story .story-column.middle .post:nth-child(4) {
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0;
border-radius: 0 0 3px 3px;
}
#section-story .story-column.right .post:nth-child(3) {
-moz-border-radius: 0 0 3px 0;
-webkit-border-radius: 0;
border-radius: 0 0 3px 0;
}
@media only screen and (max-width: 991px) {

#section-story .story-column {
  width: 100%;
  float: none;
}
#section-story .story-column.middle {
  padding-top: 0;
}
#section-story .story-column.left .post, #section-story .story-column.middle .post, #section-story .story-column.right .post {
  height: auto;
}
}
#section-story .post {
-moz-transition-property: background, color;
-o-transition-property: background, color;
-webkit-transition-property: background, color;
transition-property: background, color;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-moz-transition-timing-function: ease;
-o-transition-timing-function: ease;
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
display: block;
color: #686868;
background-color: #FFF;
text-align: left;
padding: 30px;
position: relative;
}
#section-story .post span{
display: block;
}
#section-story .post .date {
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 700;
font-size: 12px;
position: relative;
z-index: 1;
}
#section-story .post .title {
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 700;
text-transform: uppercase;
margin-top: 5px;
font-size: 25px;
position: relative;
z-index: 2;
}
.no-touch #section-story .post:hover {
background-color: #555555;
color: #FFF;
}
#section-story .post.with-bg-image {
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
color: #FFF;
}
#section-story.post.post .date,
#section-story .post.with-bg-image .title {
text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#section-story .post.with-bg-image:after {
-moz-transition-property: background-color, opacity;
-o-transition-property: background-color, opacity;
-webkit-transition-property: background-color, opacity;
transition-property: background-color, opacity;
-moz-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-moz-transition-timing-function: ease;
-o-transition-timing-function: ease;
-webkit-transition-timing-function: ease;
transition-timing-function: ease;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
opacity: 0.2;
content: '';
background-color: #000;
display: block;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 0;
}
.no-touch #section-story .post.with-bg-image:hover {
color: #FFF;
background-color: #FFF;
}
.no-touch #section-story .post.with-bg-image:hover:after {
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
opacity: 0.6;
background-color: #07cca4;
}
@media only screen and (max-width: 991px) {



#section-story .middle,
#section-story .right {
  display: none;
}
#section-story.left .post {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
  margin-top: 20px;
}
#section-story.left .post:nth-child(1) {
  margin-top: 0;
}
}
@media only screen and (max-width: 767px) {
#story-para .story-hide,
#story-para .image-hide
{
  display:none;

}
#section-story{
  padding: 50px 0;
}
}
.story-image
{
width: 100%;
max-width: 400px;
height: auto;
border-radius: 20px 20px 20px 20px;
border: 2px solid black;
}
.row-content
{
border-bottom: 1px ridge;
min-height: 400px;
}
.post a{
  color:#6c757d;
}
.container {
  padding: 16px;
}

.post1 a:hover {
 
  background-color: #6c757d ;
  text-decoration: none;
}












input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}





/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 15px 0 10px 0;
  position: relative;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */                                                                                                
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 20px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}